{%extends 'products/base.html'%}
{%block content%}
    <section class="ourteam">
        <div class="teamdiv center ">
            <h1 class="teamheader">Our Team</h1>
    
            <div class="slider-container">
                <span id="slider-image-1"></span>
                <span id="slider-image-2"></span>
                <span id="slider-image-3"></span>
                <div class="teamrow">
    
                    <div class="row1">
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name1</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
    
                        <div class="team1">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
                    </div>
    
                    <div class="row1">
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name2</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
    
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
                    </div>
    
                    <div class="row1">
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name3</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
    
                        <div class="team1 center">
                            <div class="image1">
                                <img class="image" src="images/welcom.jpg" alt="IMG-OUR" />
                            </div>
                            <h3 class="name">Name</h3>
                            <h3 class="position">Director</h3>
                            <hr />
                            <p class="description">Dedicated fellow</p>
                        </div>
    
                    </div>
    
                </div>
    
                <!--Radio buttons to allow pressing-->
                <div class="button-container">
                    <a href="#slider-image-1" class="slider-button"></a>
                    <a href="#slider-image-2" class="slider-button"></a>
                    <a href="#slider-image-3" class="slider-button"></a>
                </div>
    
            </div>
        </div>
    </section>
{%endblock content%}