{% extends 'products/base.html' %}
{% block content %}
    <section class="return center">
        <h2 class="center">Feel free to follow the steps to return faulty product</h2>
        <div class="hold center">
            <div class="two-sections center">
                <div class="east">ma</div>
                <div class="west">Realxcs cbsjbcs dbasjbdja dbasjhb</div>
            </div>
            <div class="wrap-two-sections">
                <div class="east"></div>
                <div class="west"></div>
            </div>
            <div class="wrap-two-sections">
                <div class="east"></div>
                <div class="west"></div>
            </div>
            <div class="wrap-two-sections">
                <div class="east"></div>
                <div class="west"></div>
            </div>
        </div>
    </section>
   {% endblock content%}