{% extends 'products/base.html' %}
{% block content %}
{%load static%}
<div class="py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                <h4 class="center mpesa">Mpesa Payments</h4>
                  
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                               
                                <div class="form-group"> <label for="username">
                                        <h6>Your Number</h6>
                                    </label> <input type="number" name="username" placeholder="Phone Number" required
                                        class="form-control "> </div>
                                
                           
                                <div class="card-footer"> <button type="button"
                                        class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <style>
                        .mpesa{
                            font-size: 35px;
                            color: green;
                            font-family: helvetica;
                        }
                    </style>
                   
              
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!--Paypal Integration-->


    {% endblock content %}